<nav class="navbar navbar-expand-md navbar-light navbar-fixed-top bg-secondary sticky-top">
    <a class="navbar-brand" routerLink="index" > <span class="logo">ElGuacal</span> <span class="badge badge-pill badge-dark">Teatro</span></a>
<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
   aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavId">
   <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
       <li class="nav-item active ">
           <a class="nav-link" routerLinkActive="router-link-active" routerLink="index">
               ACCUEIL <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
           <a class="nav-link" routerLinkActive="router-link-active" routerLink="compagnie">LA COMPAGNIE</a>
       </li>
       <li class="nav-item">
          <a class="nav-link" routerLinkActive="router-link-active" routerLink="acteurs">ACTEURS</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" routerLinkActive="router-link-active" routerLink="events">DES EVENEMENTS</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" routerLinkActive="router-link-active" routerLink="contact">CONTACT</a>
       </li>
   </ul>
</div>
</nav>