#collapsibleNavId li{
    color: white;                        
    font-family: Times, serif;
    font-size: 1.2em;
    padding: 5px 5px;
    }

.badge { 
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: white;
}

.logo{
    color: peru;
    font-size: 1.6em;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes example{
   0%   {color: fuchsia;}
}