 .carousel-caption {
    top: 46%;
    color: whitesmoke;
    font-size: 1.2rem;
    }
 .carousel-inner{
    max-height:500px !important;
    }
  #collapsibleNavId li{
    color: white;                        
    font-family: Times, serif;
    font-size: 1.2em;
    padding: 5px 5px;
    }
  .logo{
     color: peru;
      font-size: 1.2em;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   }
   .carousel-inner .carousel-item {
      transition: -webkit-transform 2s ease;
      transition: transform 2s ease;
      transition: transform 2s ease, -webkit-transform 2s ease;
    }